.mb-6{
    margin-bottom: 6rem !important;
}
.mb-3{
    margin-bottom: 3rem !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}
.mb-8{
    margin-bottom: 8rem !important;
}
.mb-9{
    margin-bottom: 9rem !important;
}
.mb-12{
    margin-bottom: 12rem !important;
}
.cl_light{
    color: $colorWhite-01 !important;
}
.cl_dark{
    color: $colorBlack-01 !important;
}