$colorWhite-01: #f1f1f1;
$colorGrey-opacity-06: rgba(216,216,216,0.6);
$colorWhite: white;
$colorRed-01: #e9304f;
$colorOrange-01: #e79d3c;
$colorOrange-02: #ffbc00;
$colorBlue-01: #0056b3;
$colorBlack-01: #333;
$colorBlack-02: #555;
$colorBlack-03: #444;
$colorBlack-04: #212529;
$colorGrey-01: #bebebe;
$colorGrey-02: #eee;
$colorGrey-03: #838383;