.header-section {
    width: 100%;
    height: 90vh;
    // background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../../assets/image/hero-2.jpeg);
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(./assets/image/hero-2.jpeg);
    background-position: center;
    padding: 2rem;
    position: relative;
    .navigation {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        .logo {
            img{
                height: 10rem;
                object-fit: cover;
            }
        }
        &_container{
            ul{
                display: flex;
                list-style-type: none;
                transition: all 0.2s linear;
                font-size: 1.6rem;
                margin-bottom: 1rem;
                li{
                    margin-right: 4rem;
                    transition: all 0.2s;
                    &:hover {
                        transform: scale(1.08) translateY(-0.3rem);
                    }
                    .nav_link-item{
                        text-decoration: none;
                        color: $colorWhite;
                        transition: all 0.2s;
                        &:hover{
                            color: $colorOrange-01;
                        }
                    }
                    .nav-active{
                        color: $colorOrange-01;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        &__box{
            padding: 2rem;
            border: 1px solid $colorWhite;
            border-radius: 0.5rem;
            display: none;
            order: 3;
            .nav__icon{
                color: $colorWhite;
                transition: 0.3s all;
                -webkit-transition: 0.3s all;
                font-size: 4rem;
                
            }
            &:hover {
                .nav__icon{
                    color: $colorOrange-01;
                }
            }
        }
    }
    .greeting__section {
        @include positionMiddle();
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 29rem;
    }
    .showNav{
        display: block;
    }
}
@media only screen and (max-width: 62.5em){
    .greeting__section {
        margin-bottom: 25vh !important;
    }
    .heading_2--wrapper{
        width: 120%;
    }
    .header-section{
        height: 90rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .heading_1{
        font-size: 6rem !important;
    }
    .heading_2{
        font-size: 2rem !important;
    }
    .navigation__box{
        display: block !important;
    }
    .navigation_container {
        display: none;
    }
    .navigation_container{
        ul{
            flex-direction: column;
            li{
                text-align: center;
                margin-right: 0 !important;
                margin-bottom: 2rem;
            }
        }
    }
}